@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo para ocultar la barra de scroll pero permitir scroll */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100%;
}

img, video, canvas, svg {
  max-width: 100%;
  height: auto;
}
