@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo para ocultar la barra de scroll pero permitir scroll */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}